<!DOCTYPE html>
<html>
  <head>
    <title>Manual Test</title>
  </head>
  <body>
    <form method="POST">
      <input name="csrfToken" value="{{ csrfToken }}" type="hidden"/>
      <button type="submit"/>Submit</button>
    </form>
  </body>
</html>
